@model IEnumerable<EasyManagerClasses.Payment>

@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payments</h2>

<table>
    <tr>
        <td>Search Member:</td><td><input type="text" id="memberId" name="textBoxStringData" /></td><td><input type="button" value="Detail" onclick="location.href='@Url.Action("MemberPayments", "Payment")?memberIdNumber=' + document.getElementById('memberId').value" /></td>
    </tr>
</table>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberIdNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePayed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberIdNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePayed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
