@model EasyManagerClasses.Payment

@{
    ViewBag.Title = "PaymentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PaymentDetails</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberIdNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberIdNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePayed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
