@using EasyManagerClasses
@model MemberCreate
@{
    ViewBag.Title = "Create Member";
}
<style>
    .file {
  visibility: hidden;
  position: absolute;
}
</style>

@using (Html.BeginForm("MemberCreate", "Member", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <!-- OVERVIEW -->
    <div class="panel panel-headline">
        <div class="row panel-heading">
            <div class="col-md-4">
                <h3 class="panel-title">Create New Member</h3>
                <p class="panel-subtitle">Add New member </p>
            </div>
            <div class="col-md-4">
                <div><a href="#" class="btn btn-primary" id="btnSpinner" style="display:none"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Saving...</a><br/></div>
            </div>
            <div class="col-md-4">
                <div class="text-right"><a href="@Url.Action("MemberList", "Member")" class="btn btn-primary">Back to All Members</a><br /></div>
            </div>
            <br />
        </div>
        <div class="row panel-body">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="lastname">Membership Type:</label>
                    <div class="col-sm-9">
                        <div>
                            &nbsp;&nbsp;&nbsp;
                            <label class="radio-inline" id="lbl1">@Html.RadioButtonFor(m => m.MembershipType, "1") Main Member</label>
                            <label class="radio-inline" id="lbl2">@Html.RadioButtonFor(m => m.MembershipType, "2") Beneficiary</label>
                        </div>
                        @Html.ValidationMessageFor(m => m.MembershipType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="pwd">Title:</label>
                    <div class="col-sm-8">
                        <div>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.Title, "1") Mr</label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.Title, "2") Ms</label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.Title, "4") Miss</label>
                        </div>
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="firstname">First Name(s):</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "Enter first name(s)", @style = "color:#149599" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="lastname">Surname:</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Enter surname", @style = "color:#149599" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="lastname">Gender:</label>
                    <div class="col-sm-8">
                        <div>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.Gender, "1") Male</label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.Gender, "2") Female</label>
                        </div>
                        @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="lastname">ID No / Passport No:</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.IdentityNumber, new { @class = "form-control", @placeholder = "Enter ID no / passport no", @style = "color:#149599" })
                        @Html.ValidationMessageFor(m => m.IdentityNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Date of Birth:</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", id = "dateOfBirth", @placeholder = "Enter date of birth", @style = "color:#149599" })
                        @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="country">Nationality:</label>
                    <div class="col-sm-9">
                        @Html.DropDownList("Nationality", null, "-- Select Option--", new { @class = "form-control", @style = "color:#149599" })
                        @Html.ValidationMessageFor(m => m.Nationality, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Upload Image:</label>
                    
                    <div class="col-sm-9">
                        <input type="file" name="file" class="file">
                        <div class="input-group">
                            @*<span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>*@
                            @Html.TextBoxFor(model => model.ImageFilename, new { @class = "form-control", type = "text", disabled = "disabled", id = "ImagePath", accept = ".jpg, .jpeg, .gif, .png", placeholder = "Upload Image" })
                            <span class="input-group-btn">
                                <button class="browse btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                            </span>
                            @Html.ValidationMessageFor(model => model.ImageFilename, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group" id="dvMainMemberID">
                    <label class="control-label col-sm-3">Main Member:</label>
                    <div class="col-sm-9">
                        @Html.DropDownList("MainMemberID", null, "-- Select Option--", new { @class = "form-control", @id = "ddMainMemberID", @style = "color:#149599" })
                        @Html.ValidationMessageFor(m => m.MainMemberID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4" id="dvContactDetails">
                <div class="form-group">
                    <label class="control-label col-sm-4">Contact No:</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Cellphone, new { @class = "form-control", @placeholder = "Enter cellphone number", @style = "color:#149599" })
                        @Html.ValidationMessageFor(m => m.Cellphone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Address Line 1:</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control", @placeholder = "Enter address line 1", @style = "color:#149599" })
                        @Html.ValidationMessageFor(m => m.AddressLine1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Address Line 2:</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control", @placeholder = "Enter address line 2", @style = "color:#149599" })
                        @Html.ValidationMessageFor(m => m.AddressLine2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Province:</label>
                    <div class="col-sm-8">
                        @Html.DropDownList("Province", null, "-- Select Option--", new { @class = "form-control", @style = "color:#149599" })
                        @Html.ValidationMessageFor(m => m.Province, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
                    <label class="control-label col-sm-4">Province:</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="Province" name="Province" style="color:#149599"></select>
                        @Html.ValidationMessageFor(m => m.Province, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                <div class="form-group">
                    <label class="control-label col-sm-4">City:</label>
                    <div class="col-sm-8">
                        @Html.DropDownList("City", null, "-- Select Option--", new { @class = "form-control", @style = "color:#149599" })
                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-10">
                    <button type="submit" class="btn btn-info" id="btnSubmit"><span class="glyphicon glyphicon-saved"></span> Submit</button>
                </div>
            </div>
        </div>
    </div>
}
@{string result = ViewBag.IsSaved;
    switch (result)
    {
        case "create":
            <script>
                $('#btnSpinner').hide();
                $.notify({
                    title: '<strong>Success!</strong>',
                    message: 'Record added to database successfully.'
                }, {
                    type: 'success'
                });
            </script>
            break;
        case "fail":
            <script>
                $('#btnSpinner').hide();
                $.notify({
                    title: '<strong>Error!</strong>',
                    message: 'Error occured while attempting to add record.'
                }, {
                    type: 'danger'
                });
            </script>
            break;
        case "update":
            <script>
                $('#btnSpinner').hide();
                $.notify({
                    title: '<strong>Success!</strong>',
                    message: 'Record details updated successfully.'
                }, {
                    type: 'success'
                });
            </script>
            break;
        case "duplicate":
            <script>
                $('#btnSpinner').hide();
                $.notify({
                    title: '<strong>Error!</strong>',
                    message: 'Duplicate records are NOT allowed in the database.'
                }, {
                    type: 'danger'
                });
            </script>
            break;
    }
}
<script>
    $("#lbl1").click(function () {
        $("#dvMainMemberID").hide();
        $("#ddMainMemberID option:eq(0)").prop("selected", true);
    });
    $("#lbl2").click(function () {
        $("#dvMainMemberID").show();
    });
    $("#btnSubmit").click(function () {
        $(window).scrollTop(0);
        $("#btnSpinner").show();
    });
    $(document).ready(function () {
        //$("#dvMainMemberID").hide();
        $("#success-alert").hide();
        $('#dateOfBirth').datepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayHighlight: true,
            startView: "decade"
        });
    })
    $(document).on('click', '.browse', function () {
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');
    });
    $(document).on('change', '.file', function () {
        $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ddMainMemberID").change(function () {
            var mmID = $(this).val();
            $.getJSON("@Url.Action("MemberDetails", "Member")", { ID: -1, MainM_ID: mmID },
                   function (data) {
                       $("#Cellphone").val(data[0].Cellphone);
                       $("#AddressLine1").val(data[0].AddressLine1);
                       $("#AddressLine2").val(data[0].AddressLine2);
                       $("#Province").val(data[0].ProvinceID);
                       $("#City").val(data[0].CityID);
                       //$("#Province").text(data[0].Province);
                       //$("#City").text(data[0].City);
                   });
        });
    });
    $(document).ready(function () {
        $(function () {
            $("#Province").change(function () {
                var pID = $(this).val();
                //debugger;
                var items="";
                $.getJSON("@Url.Action("GetCities","Member")", { provinceId: pID },
                    function (data) {
                        var select = $("#City");
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "-- Select Option--"
                        }));
                        $.each(data, function (index, item) {
                            select.append($('<option/>', {
                                value: item.Id,
                                text: item.Name
                            }));
                        });
                    });
            });
        });
    });
</script>

