@using EasyManagerClasses
@model List<Benefit>
@{
    ViewBag.Title = "Allocate Policy";
}
    <!-- OVERVIEW -->
    <div class="panel panel-headline">
        <div class="row panel-heading">
            <div class="col-md-4">
                <h3 class="panel-title">Member Policy Allocation</h3>
                <p class="panel-subtitle">Allocate policies to members </p>
            </div>
            <div class="col-md-4">
                <div><a href="#" class="btn btn-primary" id="btnSpinner" style="display:none"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Saving...</a><br /></div>
            </div>
            <div class="col-md-4">
                <div class="text-right"><a href="@Url.Action("MemberPolicyList", "MemberPolicy")" class="btn btn-primary">Back to Member Policy List</a><br /></div>
            </div>
            <br />
        </div>
        <div class="row panel-body">

            <div class="panel panel-info">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <h4 style="color: #149599">Search for member to allocate a policy</h4>
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="country">Main Member:</label>
                                <div class="col-sm-7">
                                    @Html.DropDownList("MembershipNumber", null, "-- Select Option--", new { @class = "form-control", @style = "color:#149599" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-6">
                                <h4 style="color: #149599">Choose policy benefits</h4>
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Benefits</button>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title" style="color: #149599">Choose policy benefits</h4>
                                            </div>
                                            <div class="modal-body">
                                                @foreach (var item in ViewBag.BenefitsList)
                                                {
                                                    <label class="checkbox-inline" for="@item.BenefitID"><input name="benefits" type="checkbox" id="@item.BenefitID" value="@item.BenefitName" alt="@item.BenefitCost">@item.BenefitName - (R @item.BenefitCost)</label>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="btnAddBenefitsClick()">ADD Benefits</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h4 style="color: #149599">Admin Fee</h4>
                                <form>
                                    <div class="form-group row">
                                        <div class="col-xs-7">
                                            <input class="form-control" id="adminFee" type="text" onkeyup="if (/\D/g.test(this.value)) { this.value = this.value.replace(/\D/g, '') }" style="color: #149599">
                                        </div>
                                        <div class="col-xs-5">
                                            <button type="button" class="btn btn-warning" onclick="GenerateMonthlyFee()">Add Fee</button>
                                        </div>
                                    </div>
                                 </form>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 style="color: #149599">Select a policy</h4>
                            <div id="dvPoliciesList"></div>
                        </div>
                        <div class="col-sm-6">
                            <h4 style="color: #149599">Policy allocation summary</h4>
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <p>Policy holder:  <label style="color: #149599" id="lblPolicyHolder"></label></p>
                                    <p>Membership number: <label style="color: #149599" id="lblMembershipNo"></label></p>
                                    <p>Beneficiaries: <label style="color: #149599" id="lblBeneficiaries"></label></p>
                                    <p>Max. Allowed Beneficiaries: <label style="color: #149599" id="lblMaxBeneficiaries"></label></p>
                                    <p>Policy name: <label style="color: #149599" id="lblPolicyName"></label></p>
                                    <p>Policy description: <label style="color: #149599" id="lblPolicyDesc"></label></p>
                                    <p>Waiting period: <label style="color: #149599" id="lblWaitingPeriod"></label></p>
                                    <p>Benefits: <label style="color: #149599" id="lblBenefits"></label></p>
                                    <p>Admin fee: <label style="color: #149599" id="lblAdminFee"></label></p>
                                    <p>Monthly fee: <label style="color: #149599" id="lblMonthlyFee"></label></p>
                                    <label id="lblPolicyId" style="visibility:hidden"></label>
                                    <label id="lblBenefitId" style="visibility:hidden"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <button type="button" class="btn btn-info" onclick="AllocatePolicyToMemberClick(this, event, lblPolicyHolder.value)"><span class="glyphicon glyphicon-saved"></span> Allocate Policy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        LoadPoliciesList();
    })

    var cost = +0;
    var fees = +0;
    function GenerateMonthlyFee() {
        fees = $("#adminFee").val();
        //var benefitsCost = $("#lblMonthlyFee").text();
        $("#lblAdminFee").text(fees);
        $("#lblMonthlyFee").text(+fees + +cost);
    }
    function btnAddBenefitsClick() {
        var benfee = +0;
        $("#lblBenefits").empty();
        $("#lblBenefitId").empty();
        var i = 0;
        $('input[name="benefits"]:checked').each(function () {
            if (i == 0) {
                $("#lblBenefits").append(this.value);
            }
            else {
                $("#lblBenefits").append(", " + this.value);
            }
            i++;
            $("#lblBenefitId").append(this.id + ", ");
            benfee += +(this.alt);
        });
        cost = benfee;
        $("#lblMonthlyFee").empty();
        $("#lblMonthlyFee").text(+benfee + +fees);

        //un-check boxes
        $('input[name="benefits"]:checked').each(function () {
            $('input[name="benefits"]').prop('checked', false);
        });
    }

    function LoadPoliciesList() {
        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("GetPolicies", "MemberPolicy")',
            success: function (data) {
                var $placeholder = $("#dvPoliciesList");
                $placeholder.empty();
                $placeholder.html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
            }
        });
    }
    $(document).ready(function () {
        $(function () {
            $("#MembershipNumber").change(function () {
                var memNo = $(this).val();
                if(memNo == ""){
                    $("#lblPolicyHolder").empty();
                    $("#lblMembershipNo").empty();
                    $("#lblBeneficiaries").empty();
                }
            else{
            $.getJSON("@Url.Action("GetMemberDetails", "MemberPolicy")", { membershipNo: memNo, Type: 1 },
                    function (data) {
                        var select = $("#MainMemberFullName");
                        select.empty();

                        $.each(data, function (index, item) {
                            if (index == 0) {
                                $("#lblPolicyHolder").empty();
                                $("#lblPolicyHolder").append(item.FirstName + " " + item.LastName);
                                $("#lblMembershipNo").empty();
                                $("#lblMembershipNo").append(item.MembershipNumber);
                            }
                            else {
                                $("#lblBeneficiaries").empty();
                                $("#lblBeneficiaries").append(item.NoOfBeneficiaries + " member(s)");
                            }
                        });
                    });
        }

            });
        });
    });

    function AllocatePolicyToMemberClick(sender, e) {
       var pHolder = $('#lblPolicyHolder').text(), memNo = $('#lblMembershipNo').text(), benefic = $('#lblBeneficiaries').text(),
       maxBenefic = $('#lblMaxBeneficiaries').text(), pName = $('#lblPolicyName').text(), pDesc = $('#lblPolicyDesc').text(),
       waitngP = $('#lblWaitingPeriod').text(), benefits = $('#lblBenefitId').text(), monthlyFee = $('#lblMonthlyFee').text(),
       adminFees = $('#lblAdminFee').text(), polId = $('#lblPolicyId').text();
       $(window).scrollTop(0);
       //alert(benefits);
       $("#btnSpinner").show();
       if (pHolder != "" && memNo != "" && benefic != "" && maxBenefic != "" && pName != "" && pDesc != "" && waitngP != "" && benefits != "" && monthlyFee != "" && adminFees != "" && polId != "" ) {
            $.ajax({
                cache: false,
                type: "GET",
                data: { MemNumber: memNo, PolID: polId, NoOfBenefic: benefic, AdminFee: adminFees, MonthlyFee: monthlyFee, WaitingPeriod: waitngP, Benefits: benefits },
                url: '@Url.Action("AllocatePolicyToMember", "MemberPolicy")',
                success: function (data) {
                    SuccessAlert(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                }
            });
       }
       else {
           $('#btnSpinner').hide();
           $.notify({
               title: '<strong>Error!</strong>',
               message: 'Please select all options required to allocate a policy.'
           }, {
               type: 'danger'
           });
       }
        function SuccessAlert(data) {
            if (data == 1) {
                $("option[value='" + memNo + "']").remove();
                $('#lblPolicyHolder').text(""); $('#lblMembershipNo').text(""); $('#lblBeneficiaries').text(""); $('#lblMaxBeneficiaries').text("");
                $('#lblPolicyName').text(""); $('#lblPolicyDesc').text(""); $('#lblWaitingPeriod').text(""); $('#lblBenefitId').text("");
                $('#lblMonthlyFee').text(""); $('#lblAdminFee').text(""); $('#adminFee').val(""); $('#lblPolicyId').text("");
                $('#lblBenefits').text("");
                $('#btnSpinner').hide();
                $.notify({
                    title: '<strong>Success!</strong>',
                    message: 'Member has been allocated a policy successfully.'
                }, {
                    type: 'success'
                });
            }
            else {
                $('#btnSpinner').hide();
                $.notify({
                    title: '<strong>Error!</strong>',
                    message: 'Something went wrong please try again.'
                }, {
                    type: 'danger'
                });
            }
        }
    }
</script>

